/* stylelint-disable-next-line block-no-empty */
:local {
  .component {
    margin-top: 20px 0;
    display: inline-block;
    text-align: center;
    border: solid $border-color 1px;
    padding: 8px;
    [nexus-ui] {
      margin-top: 20px;
    }
  }
}
